@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100&display=swap');

/* Custom properties/variables  */
:root {
    --main-white: #f0f0f0;
    --main-red: #be3144;
    --main-blue: #45567d;
    --main-gray-soft: #bdc3c7 ;
    --main-gray: #303841;
    --main-dark-blue: #34495e;
    --main-orange: #d35400;
  }

  /* Base reset */
  * {
    margin: 0;
    padding: 0;
  }
  
  /* box-sizing and font sizing */
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }
  
  html {
    box-sizing: border-box;
  
    /* Set font size for easy rem calculations
     * default document font size = 16px, 1rem = 16px, 100% = 16px
     * (100% / 16px) * 10 = 62.5%, 1rem = 10px, 62.5% = 10px
    */
    font-size: 62.5%;
    scroll-behavior: smooth;
  }
  
  /* A few media query to set some font sizes at different screen sizes.
   * This helps automate a bit of responsiveness.
   * The trick is to use the rem unit for size values, margin and padding.
   * Because rem is relative to the document font size
   * when we scale up or down the font size on the document
   * it will affect all properties using rem units for the values.
  */
  
  /* I am using the em unit for breakpoints
   * The calculation is the following
   * screen size divided by browser base font size
   * As an example: a breakpoint at 980px
   * 980px / 16px = 61.25em
  */
  
  /* 1200px / 16px = 75em */
  @media (max-width: 75em) {
    html {
      font-size: 60%;
    }
  }
  
  /* 980px / 16px = 61.25em */
  @media (max-width: 61.25em) {
    html {
      font-size: 58%;
    }
  }
  
  /* 460px / 16px = 28.75em */
  @media (max-width: 28.75em) {
    html {
      font-size: 55%;
    }
  }
  
  /* Base styles */
  
  body {
    font-family: 'Poppins', sans-serif;
    font-size: 1.8rem; /* 18px */
    font-weight: 400;
    line-height: 1.4;
    color: var(--main-white);
  }
  
  h1,
  h2 {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    text-align: center;
  }
  
  h1 {
    font-size: 6rem;
  }
  
  h2 {
    font-size: 4.2rem;
  }
  
  ul {
    list-style: none;
  }
  
  a {
    text-decoration: none;
    color: var(--main-white);
  }
  
  img {
    display: block;
    width: 100%;
  }

/* nav */

.nav {
  display: flex;
  justify-content: flex-end;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: var(--main-dark-blue);
  
  /*box-shadow: 0 2px 0 rgba(0, 0, 0, 0.4);*/
  /*z-index: 10;*/
}

.nav-list {
  display: flex;
  margin-right: 2rem;
}

@media (max-width: 28.75em) {
  .nav {


    justify-content: center;
  }

  .nav-list {
    margin: 0 1rem;
  }
}


.nav-list a {
  display: block;
  font-size: 2.2rem;
  padding: 2rem;
}

.nav-list a:hover {
  background: var(--main-orange);
}

/* Welcome section */


.welcome-section {
    width: 100%;
    height: 100vh;
    background-color: var(--main-dark-blue);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.welcome-container {
    padding: 20px;
}

@media (max-width: 980px) {
  .welcome-container {
    display: flex;
    flex-direction: column;
}
}

.content-pull-left {
    float: left;
    padding: 0 100px;
}

.content-pull-right {
    float: right;
    padding: 0 20px;
    margin-bottom: 20px;
}

.welcome-description {
    margin-top: 60rem;
    
}

.social-contact-list {
    margin-top: 10px;
}

.social-contact-list > li {
    align-items: center;
    justify-content: center;
    /*margin-right: 50px;*/
    padding-right: 10px;
    display: inline-block;

}

.social-contact-list > li > .social-icon > .is {
    font-size: 4.5rem;
}

.social-contact-list > li > .social-icon > .ai {
    font-size: 4.5rem;
}

.social-contact-list > li > .social-icon > .is:hover {
    color: #151b1c;
    border-radius: 100%;
}


.social-contact-list > li > .social-icon > .ai:hover {
    color: #151b1c;
    border-radius: 100%;
}

.fullname-welcome {
    font-family: 'Roboto Slab', serif;
}

.firstname-welcome{
    color: var(--main-orange);
}

#profile_picture{
    border-radius: 50%;
}

#email {
  margin-top: 2px;
}

#email:hover > a {
    color: var(--main-orange);
}

/* projects section */

#projects-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100vh;
    padding: 0 2rem;
    background: var(--main-gray);
  }

/* experience section */

#experience-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 80vh;
    padding: 0 2rem;
    background: var(--main-gray);
  }

/* education section */

#education-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 80vh;
    padding: 0 2rem;
    background: var(--main-gray);
  }

/* tools section */

#tools-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 80vh;
    padding: 0 2rem;
    background: var(--main-gray);
  }
